.header {
  height: 60px;
  border-bottom: rgba(251, 116, 184, 0.05) solid 4px;

  padding: 0 50px;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  padding-top: 8px;
  font-size: 2em;
  color: #f29e87;
}

.menu {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.menuItem {
}

.menuItem a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}
